/*
 * These are the CSS for the Ace Editor version
 * Created by: Yu-Shan Sun
 * Last Modified: 07/20/2018
 */

/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Leaving space for footer */
    margin-bottom: 60px;
    background-color: #fdfdfd !important;
}

/* Header-Related CSS */
#page-header {
    min-height: 70px;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #page-header {
        min-height: 110px;
    }
}

#page-header .navbar {
    min-height: inherit;
    background-color: #3a4958 !important;
}

#page-header .nav-link {
    font-size: 0.95rem;
    color: #d4c99e !important;
}

#page-header .nav-link:hover {
    color: #337ab7 !important;
}

#page-header .dropdown-menu {
    min-width: 0;
}

#page-header .dropdown-item {
    color: #109dc0 !important;
}

#page-header .dropdown-item:hover {
    color: #fff !important;
    background-color: #3a4958 !important;
    opacity: 0.15;
}

#page-header .dropdown-item:active {
    color: #109dc0 !important;
    background-color: #fff !important;
    opacity: 1;
}

#site-title {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 1.75rem;
    font-weight: 200 !important;
}

/* Main Content-Related CSS */
#page-content {
    position: relative;
    top: 0;
    bottom: 80px;
    height: calc(100vh - 150px);
    overflow: hidden;
}

#editorContent {
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: auto;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #page-content,
    #editor-content {
        height: calc(100vh - 190px);
    }
}

/* ACE Editor-Related CSS */
.ace_folding-enabled > .ace_gutter-cell {
    padding-right: 10px;
    padding-left: 30px;
}

.ace_gutter-cell.ace_vc {
    cursor: pointer;
    background-image: url("../images/vc_processing.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px 20px;
}

/* Line Highlighting-Related CSS */
.vc_info {
    position: absolute;
    z-index: 5000;
    box-sizing: border-box;
    pointer-events: auto;
    background: #add8e6;
    opacity: 0.3;
}

.vc_info:hover {
    background: #00bfff;
    opacity: 0.3;
}

/* VC Modal-Related CSS */
#vcModal .card-body {
    min-height: 250px;
}

/* Footer-Related CSS */
#page-footer {
    /* Sticky footer */
    position: absolute;
    bottom: 0;
    height: 80px;
    color: #fdfdfd !important;
    background-color: #86898c !important;
}

#page-footer .footer-link {
    font-size: 1rem;
    color: #343a40 !important;
    text-decoration: none;
}

#page-footer .footer-link:hover {
    color: #337ab7 !important;
}
