/*
 * These are the CSS for the RESOLVEMinimalistWebUI Pages
 * Created by: Yu-Shan Sun
 * Last Modified: 11/14/2017
 */

/* General CSS */
html {
    position: relative;
    min-height: 100%;
}

body {
	/* Leaving space for footer */
    margin-bottom: 60px;
}

/* Header-Related CSS */
#page-header {
	min-height: 60px;
	background-color: #522D80;
}

#page-header .nav-link {
	color: #D4C99E;
}

#page-header .nav-link:hover {
	color: #FFFFFF;
}

/* Footer-Related CSS */
#page-footer {
	/* Sticky footer */
    position: absolute;
    bottom: 0;
    height: 60px;
    background-color: #3A4958;
    opacity: 0.75;
}

#page-footer-content {
	background-color: #3A4958;
}